* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color:beige;
  padding-top: 80px;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  border: solid 3px rgba(0, 0, 0, .4);
  border-radius: 8px;
  padding: 32px;
}

header {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

header img {
  height: 40px;
}

header h1 {
  font-weight: bold;
}

form {
  display: flex;
  max-width: 960px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 32px;
  gap: 16px;
}

form input,
form select {
  font-size: 16px;
  background-color: rgba(0, 0, 0, .7);
  border: none;
  color: beige;
  padding: 8px;
  height: 40px;
  font-weight: bold;
}

form label {
  font-size: 24px;
  margin-bottom: 8px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 27%;
}

form button {
  width: 13%;
  background-color: rgba(0, 0, 0, .7);
  border: none;
  color: beige;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  align-self: flex-end;
  cursor: pointer;
}



table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 3px solid rgba(0, 0, 0, .4);
}

table th {
  border-bottom: 5px solid rgba(0, 0, 0, .4);
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
}

table td {
  text-align: center;
  font-size: 14px;
  padding: 8px 0;
}

table tr:first-child th {
  border-top: none;
}

table tr:last-child td {
  border-bottom: none;
}

table tr td:first-child, table tr th:first-child {
  border-left: none;
}

table tr td:last-child, table tr th:last-child {
  border-right: none;
}

table td img {
  width: 32px;
}

table td img:hover {
  cursor: pointer;
}

